h1{
    text-align: center;
}

#main-wrapper, #new-wrapper, #update-wrapper{
    width: 800px;
    margin: 0 auto;
}
h1{
    padding: 40px 0px;
}
li{
    list-style-type: none;
    margin-top: 10px;
}